body{
    display: flex;
    flex-direction: column;    
}

main{    
    flex: 1;
}

.container-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title1{
    font-family: var(--font-family-logo-messages);
    text-align: center;
    margin-bottom: 10px;
}

.title2{
    font-family: var(--font-family-logo-messages);
    display: none;
}

.text-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us{
    font-family: var(--font-family-text);
    font-size: 25px;
    margin-top: 15px;        
}


.description{
    font-family: var(--font-family-text);
    padding: 1% 5%;    
}

img{
    width: 100%;
}

.img-container{
    max-width: 400px;
}

@media only screen and (min-width: 768px) {
    .title1{
        display: none;
    }
    .title2{
        display: block;
        font-size: 35px;
        margin-bottom: 8px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-about{        
        flex-direction: row;
        justify-content: center;        
    }

    .img-container{
        min-width: 400px;
    }

    .about-us{
        font-size: 35px;
        margin-bottom: 10px;
    }

    .description{
        font-size: 15px;
    }

    @media only screen and (min-width: 992px) {
        .title1{
            display: none;
        }
        .title2{
            font-size: 50px;
            margin-bottom: 10px;
        }        
        .container-about{
            max-width: 1200px;                  
        }

        .img-container{
            min-width: 500px;
        }

        .about-us{
            font-size: 50px;
            margin-bottom: 14px;
        }

        .description{
            font-size: 18px;
        }
    }
}