body {
    font-family: var(--font-family-text);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 12px;
}

.searchbar input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    margin-left: 12px;
}

.searchbar img {
    width: 1.5em;
    height: 1.5em;
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 225px;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}


.grid {
    display: grid;
    gap: 2em;
    grid-template-rows: 8;
    grid-auto-rows: 17em;
    padding: 0 4em;
}


.product-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 346px;
    margin: 10px 16px;
}

.image-container {
    display: flex;
    height: 240px;
}

.image-container>img {
    object-fit: contain;

}

.product-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
}

.product-title {
    font-size: 12px;
    font-weight: bold;
}

.product-category {
    font-size: 12px;
    text-transform: uppercase;
}

.product-price {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.star-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 12px;
}

.star-container {
    display: flex;
}

@media only screen and (min-width: 768px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .search {
        flex-direction: row;
        justify-content: space-between;
        width: 672px;
    }

    .searchbar {
        width: 100%;
        margin-bottom: 0;
    }

    .searchbar input {
        flex: 1;
        margin-right: 12px;
    }
}


@media only screen and (min-width: 992px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
    }

    .search {
        flex-direction: row;
        justify-content: space-between;
        width: 1012px;
    }

}