@import url(./css/reset.css);
@import url(./css/global.css);

/* -------------------- Header ------------------------ */

header {
  font-family: var(--font-family-logo-messages);
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px -6px #222;
  margin-bottom: 16px;
}

nav {
  background-color: white;
}

.welcome-message {
  width: 100%;
  height: 100%;
  padding: 4px;

  display: flex;
  justify-content: center;

  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0;
}

nav ul {
  display: flex;
  align-items: center;
  padding-right: 4px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
}

.container-icons img {
  width: 22px;
}

.container-icons {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: space-between;
}


@media only screen and (min-width: 600px) {
  .welcome-message {
    font-size: 16px;
    padding: 8px;
  }

  nav {
    padding: 0 14px 0;
  }

  nav a {
    font-size: 20px;
  }

  .container-icons img {
    width: 24px;
  }
}


@media only screen and (min-width: 768px) {
  .welcome-message {
    font-size: 18px;
  }

  nav {
    padding: 0 18px 0;
  }

  nav a {
    font-size: 24px;
  }

  .container-icons img {
    width: 26px;
    gap: 24px;
  }

}

.amount-bag-container {
  position: relative;
}

.amount-bag {
  background-color: indianred;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -6px;
  right: -6px;
}

/* -------------------- Footer ------------------------ */

.container {
  font-family: var(--font-family-logo-messages);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.068);
  padding: 16px;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 10px
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

li {
  list-style: none;

}

li img {
  width: 20px;
}

footer p {
  font-size: 20px;
}

.description {
  text-align: center;
  text-decoration: none;
}

.description span {
  font-size: 18px;
}

.description a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

/*------Cart-------*/
h1{
  text-align: center;
}
.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.container-form>form>input{
  margin: 10px;
    
  width:90%;
  height: 30px;
  
}
iframe{
  width: 350px ;
height: 350px;
}

section{
  display: flex;
}




  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-image-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-2 {
    min-height: 438px;
  }

  .u-section-1 .u-image-3 {
    min-height: 438px;
  }

  .u-section-1 .u-image-4 {
    min-height: 438px;
  }
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  display:  flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 467px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-2 .u-text-4 {
  width: 80px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  width: 50px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 111px;
  height: 111px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: auto;
}
.br-50{
    border-radius: 50%;
}
.title {
  width: 80px;
  margin: 20px auto 0;
}
.subtitle {
  width: 50px;
  margin: 20px auto 0;
}

.h1{
  background-color: cadetblue;
  padding: 8px;
}
.h1>h1{
  color: aliceblue;
}
@media only screen and (min-width: 768px) {
  h1{
      text-align: center;
  }
  .container-form{
      flex-direction: row;
      justify-content: center;
  }
  .h1{
      margin-left: 700px;
      margin-right: 700px;
  }
  #form>form>input{
      display: flex;
      margin: 10px;
      width: 300px;
      height: 80px;
      
  }
  iframe{
      width: 500px ;
    height: 500px;
  }
  
}
/*------Cart-------*/